<footer id="footer">
  <div class="container">
    <div class="grid_12">
      <h2><a href="contacts.html">Contacts</a></h2>
      <ul class="faico clear">
        <a
          class="faicon-gmail"
          href="mailto:aymeric.sudre.pro@gmail.com"
          target="_blank"
        >
          <i class="fa fa-envelope-o"></i> aymeric.sudre.pro@gmail.com
        </a>
        <br /><br />
        <a
          class="faicon-linkedin"
          href="https://www.linkedin.com/in/aymeric-sudre/"
          target="_blank"
        >
          <i class="fa fa-linkedin"></i> aymeric-sudre
        </a>
        <br /><br />
        <a
          class="faicon-github"
          href="https://github.com/Aym-FX"
          target="_blank"
        >
          <i class="fa fa-github"></i> Aym-FX
        </a>
      </ul>
    </div>
  </div>
</footer>
<a href="#" id="toTop" class="fa fa-chevron-up"></a>
