<div class="header_top">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <br /><br /><br /><br />
        <h1>Aymeric Sudre</h1>
        Technicien Supérieur en Informatique
      </div>
    </div>
  </div>
</div>
<section id="stuck_container">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h1 class="logo">
          <a href="/views/index.html"> Portfolio </a>
        </h1>
        <br /><br />
        <div class="navigation" style="margin-top: 20px">
          <nav>
            <ul class="sf-menu">
              <li><a href="/views/index.html">Accueil</a></li>
              <li><a href="/views/projets.html">Projets</a></li>
              <li><a href="/views/greenIT/GREENIT.html">Green IT</a></li>
              <li><a href="/views/apropos.html">À propos</a></li>
              <li><a href="/views/contacts.html">Contacts</a></li>
            </ul>
          </nav>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</section>
