<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Portfolio | Aymeric Sudre</title>
    <meta charset="utf-8">
    <meta name = "format-detection" content = "telephone=no" />
    <link rel="icon" href="/images/logo.png">
    <link rel="shortcut icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-migrate-1.1.1.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/script.js"></script> 
    <script src="/js/superfish.js"></script>
    <script src="/js/jquery.equalheights.js"></script>
    <script src="/js/jquery.mobilemenu.js"></script>
    <script src="/js/tmStickUp.js"></script>
    <script src="/js/jquery.ui.totop.js"></script>
    <script src="/views/components/components.js"></script>
    <script>
    $(window).load(function(){
    $().UItoTop({ easingType: 'easeOutQuart' });
    $('#stuck_container').tmStickUp({});  
    }); 

    </script>
</head>
<body>
    <!--==============================
                  header
    =================================-->
    <header id="header"></header>

    <section id="content">
      <div class="ic">Website Templates @ TemplateMonster.com</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h2>Encyclopédie intéractive de l'univers d'Harry Potter</h2>
        
        <br><br>

        <img src="/images/HP.jpg" alt="Page d'accueil de l'encyclopédie Harry Potter" class="img_inner fleft card card_h">
        
        <h3 style="margin-top:-50px;">Le contexte du projet</h3>
        <br>
        <p class="text_Pf"> &nbsp;&nbsp;&nbsp;&nbsp;Le projet a été proposé comme exercice noté pour évaluer nos compétences en développement 
          d'applications web avec Vue.js. 
          &nbsp;&nbsp;&nbsp;&nbsp;<br>Il s'inscrit dans une logique d'apprentissage 
          de technologies modernes pour la création d'interfaces dynamiques et interactives.
        </p>
        
        <br><br>

        <h3 style="margin-top:-50px;">L'ambition du projet</h3>
        <p class="text_Pf"> &nbsp;&nbsp;&nbsp;&nbsp;L'objectif principal était de créer une encyclopédie interactive permettant aux utilisateurs 
          <br>d'explorer facilement l'univers de Harry Potter. Cela implique :
          <ul class="lst_cpt">
            <li>Une navigation fluide et rapide entre les sections.</li>
            <li>Une présentation attrayante et responsive.</li>
            <li>L'intégration complète des données de PotterDB pour offrir une expérience utilisateur immersive.</li>
          </ul>
          <br>Le projet devait également démontrer notre capacité à gérer des projets techniques complexes en équipe et 
          <br>à respecter des contraintes strictes.
        </p>
        
        <img src="/images/HP2.jpg" alt="Page des potions de l'encyclopédie Harry Potter" class="img_inner img_fright card_h" style="margin-top:100px;">
        
        <h3 style="margin-top:-75px;">Technologies utilisées</h3>
        <p class="text_Pf"> Pour développer cette application web j'ai utilisé les langages suivants : </p>
        <ul class="lst_cpt">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
        </ul>
        <br>
        <p class="text_Pf"> J'ai également utilisé les technologies suivantes :</p>
        <ul class="lst_cpt">
          <li>Frontend Framework : Vue.js</li>
          <li>Gestion des Routes : Vue Router</li>
          <li>Appels API : Axios</li>
          <li>Styles : CSS, Flexbox, CSS Grid</li>
          <li>Hébergement : <a href="#" target="_blank">Lien hébergé ici</a></li>
        </ul>
        
        <h3 style="margin-top:-50px;">Compétences Développées</h3>
        <p class="text_Pf">Techniques :</p>
        <ul class="lst_cpt">
          <li>Intégration d'API RESTful.</li>
          <li>Conception et structuration d'une application Vue.js.</li>
          <li>Implémentation de fonctionnalités avancées comme la pagination et la recherche.</li>
        </ul>
        <br>
        <p class="text_Pf">Transversales :</p>
        <ul class="lst_cpt">
          <li>Collaboration efficace en binôme.</li>
          <li>Gestion de projet avec répartition des tâches.</li>
          <li>Respect des délais et des consignes techniques.</li>
        </ul>
        <br>
        <p class="text_Pf">Humaines :</p>
        <ul class="lst_cpt">
          <li>Communication claire et régulière avec le coéquipier.</li>
          <li>Résolution de problèmes ensemble pour surmonter les défis techniques.</li>
        </ul>
          
        <h3 style="margin-top:-50px;">Conclusion : Retour d’expérience et apprentissage</h3>
        <p class="text_Pf">
          Ce projet a été une excellente opportunité de mettre en pratique nos compétences théoriques dans un cadre réaliste. Nous avons particulièrement apprécié le défi d'intégrer une API complexe et de concevoir une application qui réponde aux attentes des utilisateurs.
          En revanche, nous avons rencontré des difficultés liées à la gestion de la pagination et à la recherche simultanée, ce qui nous a poussés à explorer des solutions alternatives et à affiner notre compréhension des concepts fondamentaux de Vue.js.
        </p>
        <p class="text_Pf">
          Le rendu final, bien que perfectible sur certains aspects de design, est pleinement fonctionnel et reflète une bonne maîtrise des technologies étudiées. Nous sommes confiants que ce projet marque une étape importante dans notre progression.
        </p>
      </div>
    </div>

    
  </div>
  <div class="container">
    <div class="carousel">
        <div class="carousel-inner">
            <div class="slide">
                <img src="/images/HP.jpg"
                    alt="Image 1">
            </div>
            <div class="slide">
                <img src="/images/HP2.jpg"
                    alt="Image 2">
            </div>
            <div class="slide">
                 <img src="/images/HP3.jpg"
                    alt="Image 3">
            </div>
            <div class="slide">
                <img src="/images/HP4.jpg"
                    alt="Image 4">
            </div>
            <div class="slide">
                <img src="/images/HP5.jpg"
                    alt="Image 5">
            </div>
        </div>
        <div class="carousel-controls">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <div class="carousel-dots"></div>
    </div>
  </div>
<script src="/views/components/carousel.js"></script>
</section>

    <!--==============================
                  footer
    =================================-->
    <footer id="footer"></footer>
<a href="#" id="toTop" class="fa fa-chevron-up"></a>
</body>
</html>