<html lang="fr">
  <head>
    <title>Portfolio | Aymeric Sudre</title>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="/images/logo.png" />
    <link rel="shortcut icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-migrate-1.1.1.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/superfish.js"></script>
    <script src="/js/jquery.equalheights.js"></script>
    <script src="/js/jquery.mobilemenu.js"></script>
    <script src="/js/tmStickUp.js"></script>
    <script src="/js/jquery.ui.totop.js"></script>
    <script src="/views/components/components.js"></script>
    <script>
      $(window).load(function () {
        $().UItoTop({ easingType: "easeOutQuart" });
        $("#stuck_container").tmStickUp({});
      });
    </script>
  </head>
  <body>
    <!--==============================
                  header
    =================================-->
    <header id="header"></header>

    <section id="content">
      <div class="ic">Website Templates @ TemplateMonster.com</div>
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <h2>Visite virtuelle d'un musée</h2>

            <br /><br />

            <img src="/images/MV.png" class="img_inner fleft card card_h" />

            <h3 style="margin-top: -50px">Contexte du projet</h3>
            <br />
            <p class="text_Pf">
              &nbsp;&nbsp;&nbsp;&nbsp;Ce projet a consisté à créer une visite
              immersive d'un musée en Réalité Virtuelle sur Unreal Engine 5.
              L’objectif était de concevoir une expérience interactive et
              accessible, permettant aux utilisateurs de découvrir différentes
              œuvres d’art modélisées en 3D, tout en intégrant des
              fonctionnalités de gameplay.
            </p>

            <br /><br />

            <h3 style="margin-top: -50px">L'expérience utilisateur</h3>
            <p class="text_Pf">
              &nbsp;&nbsp;&nbsp;&nbsp;Dès l’entrée dans le musée, l’utilisateur
              est accueilli par une radio qui diffuse une sélection de musiques.
              Nous avons mis en place un système de diffusion audio dynamique :
              le volume varie en fonction de la distance de l’utilisateur.
              <br /><br />
              &nbsp;&nbsp;&nbsp;&nbsp;Un bouton sur un piédestal permet de
              déclencher un message audio présentant le musée et expliquant une
              activité ludique : une chasse au croissant à l’intérieur du musée.
            </p>

            <h3 style="margin-top: -75px">Œuvres exposées dans le musée</h3>
            <ul class="lst_cpt">
              <li>
                <strong>L’étoile</strong> de Jean Arp : sculpture organique en
                marbre évoquant le mouvement et la vie.
              </li>
              <li>
                <strong>The Boxers</strong> de Keith Haring : deux boxeurs
                stylisés aux formes simples et dynamiques.
              </li>
              <li>
                <strong>Yellow 911 Turbo In A Pool</strong> de Chris Labrooy :
                une Porsche 911 Turbo jaune plongée dans une piscine.
              </li>
              <li>
                <strong>964 Blue</strong> de Chris Labrooy : une Porsche 964
                avec une carrosserie aux panneaux multicolores.
              </li>
              <li>
                <strong>Balloon Dog</strong> de Jeff Koons : reproduction d’un
                ballon de baudruche stylisé en inox, dans différentes couleurs.
              </li>
              <li>
                <strong>Clasp I</strong> de Antony Gormley : deux corps en fonte
                se tenant l’un contre l’autre.
              </li>
              <li>
                <strong>Flower Ball</strong> de Takashi Murakami : une sphère
                composée de fleurs brillantes, utilisée dans le musée comme
                balle pour un chamboule-tout.
              </li>
              <li>
                <strong>Lunar</strong> de Samsofy : un astronaute en Lego
                explorant le sol lunaire, mis en scène dans un studio photo
                fidèle à l’œuvre originale.
              </li>
              <li>
                <strong>Maman</strong> de Louise Bourgeois : une araignée
                monumentale de 9 mètres de haut, surplombant l’ensemble du
                musée.
              </li>
            </ul>

            <img
              src="/images/MV2.jpeg"
              alt="Vue de l'œuvre Maman et du musée"
              class="img_inner img_fright card_h"
              style="margin-top: 100px"
            />

            <h3 style="margin-top: -50px">Technologies utilisées</h3>
            <ul class="lst_cpt">
              <li>
                <strong>Unreal Engine 5</strong> : moteur de jeu pour la
                création de l’environnement et des interactions VR.
              </li>
              <li>
                <strong>Blender</strong> : modélisation 3D des œuvres exposées.
              </li>
              <li>
                <strong>Visual Studio</strong> : développement des scripts en
                C++ et Blueprints dans Unreal.
              </li>
              <li>
                <strong>GitLab</strong> : gestion de versions et collaboration
                en équipe.
              </li>
              <li>
                <strong>Trello</strong> : gestion des tâches et organisation du
                projet.
              </li>
            </ul>

            <h3 style="margin-top: -50px">Compétences développées</h3>
            <p class="text_Pf">Techniques :</p>
            <ul class="lst_cpt">
              <li>Modélisation 3D avancée sur Blender.</li>
              <li>
                Programmation de mécaniques VR avec Unreal Engine 5 (Blueprints
                & C++).
              </li>
              <li>Implémentation de systèmes audio interactifs.</li>
            </ul>

            <p class="text_Pf">Transversales :</p>
            <ul class="lst_cpt">
              <li>
                Travail en équipe et collaboration sur un projet complexe.
              </li>
              <li>Organisation et planification avec Trello.</li>
              <li>Sensibilité artistique et fidélité aux œuvres originales.</li>
            </ul>

            <h3 style="margin-top: -50px">Conclusion : retour d’expérience</h3>
            <p class="text_Pf">
              Ce projet de musée virtuel nous a permis d’approfondir nos
              compétences en Réalité Virtuelle sur Unreal Engine 5 et de
              combiner nos connaissances en modélisation, programmation et
              design sonore.
              <br /><br />
              L’organisation en équipe et la diversité des œuvres présentées ont
              fait de cette expérience un défi aussi enrichissant que stimulant.
              Les utilisateurs bénéficient d’une immersion complète dans un
              environnement artistique interactif et accessible.
            </p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="carousel">
          <div class="carousel-inner">
            <div class="slide">
              <img
                src="/images/MVE.png"
                alt="Entrée du musée avec radio et bouton interactif"
              />
            </div>
            <div class="slide">
              <img
                src="/images/MVOE.png"
                alt="Vue de l'œuvre Maman de Louise Bourgeois surplombant le musée"
              />
            </div>
            <div class="slide">
              <img
                src="/images/MVOB.png"
                alt="Jeu de chamboule-tout avec la Flower Ball de Murakami"
              />
            </div>
            <div class="slide">
              <img
                src="/images/MVOVP.png"
                alt="Entrée du musée avec radio et bouton interactif"
              />
            </div>
            <div class="slide">
              <img
                src="/images/MVOVN.png"
                alt="Vue de l'œuvre Maman de Louise Bourgeois surplombant le musée"
              />
            </div>
            <div class="slide">
              <img
                src="/images/MVOBD.png"
                alt="Jeu de chamboule-tout avec la Flower Ball de Murakami"
              />
            </div>
            <div class="slide">
              <img
                src="/images/MVOCT.png"
                alt="Entrée du musée avec radio et bouton interactif"
              />
            </div>
            <div class="slide">
              <img
                src="/images/MVOFB.png"
                alt="Vue de l'œuvre Maman de Louise Bourgeois surplombant le musée"
              />
            </div>
            <div class="slide">
              <img
                src="/images/MVOL.png"
                alt="Jeu de chamboule-tout avec la Flower Ball de Murakami"
              />
            </div>
            <div class="slide">
              <img
                src="/images/MVOM.png"
                alt="Jeu de chamboule-tout avec la Flower Ball de Murakami"
              />
            </div>
          </div>
          <div class="carousel-controls">
            <button id="prev"><</button>
            <button id="next">></button>
          </div>
          <div class="carousel-dots"></div>
        </div>
      </div>

      <script src="/views/components/carousel.js"></script>
    </section>

    <!--==============================
                  footer
    =================================-->
    <footer id="footer"></footer>

    <a href="#" id="toTop" class="fa fa-chevron-up"></a>
  </body>
</html>
