<html lang="fr">
  <head>
    <title>Portfolio | Aymeric Sudre</title>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="/images/logo.png" />
    <link rel="shortcut icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-migrate-1.1.1.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/superfish.js"></script>
    <script src="/js/jquery.equalheights.js"></script>
    <script src="/js/jquery.mobilemenu.js"></script>
    <script src="/js/tmStickUp.js"></script>
    <script src="/js/jquery.ui.totop.js"></script>
    <script src="/views/components/components.js"></script>
    <script>
      $(window).load(function () {
        $().UItoTop({ easingType: "easeOutQuart" });
        $("#stuck_container").tmStickUp({});
      });
    </script>
  </head>
  <body>
    <!--==============================
                  header
    =================================-->
    <header id="header"></header>

    <section id="content">
      <div class="ic">Website Templates @ TemplateMonster.com</div>
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <h2>Trois Rivières - Jeu de sensibilisation au numérique responsable en 2D</h2>

            <br /><br />

            <img
              src="/images/SN1.png"
              alt="Menu principal de Trois Rivières"
              class="img_inner fleft card card_h"
            />

            <h3 style="margin-top: -50px">Contexte du projet</h3>
            <br />
            <p class="text_Pf">
              &nbsp;&nbsp;&nbsp;&nbsp;Le projet "Trois-Rivières" est un jeu vidéo conçu pour sensibiliser le grand public aux enjeux 
              environnementaux du numérique. Il a été imaginé comme un "Cheval de Troie" pour toucher des personnes non sensibilisées 
              aux questions écologiques. La démarche d'éco-conception a été intégrée dès le début du processus de création et de développement.
            </p>

            <h3 style="margin-top: -50px">L'ambition du projet</h3>
            
            <p class="text_Pf">
                &nbsp;&nbsp;&nbsp;&nbsp;L'objectif principal était de développer un jeu vidéo tout public avec une approche narrative et 
                pédagogique. Le jeu est divisé en trois parties qui suivent l'histoire de Maï, une randonneuse, dans le village de 
                Trois-Rivières. Le but était de présenter les impacts écologiques et sociaux du cycle de vie des appareils numériques, de 
                l'extraction des matières premières à la destruction, en passant par l'assemblage et le recyclage.
                <br /><br /><br />
                Les trois parties du jeu sont:
                <ul class="lst_cpt">
                    <li>Partie 1 : La mine, où l'utilisateur découvre les enjeux de l'extraction.</li>
                    <li>Partie 2 : L'usine d'assemblage, qui met en lumière la production.</li>
                    <li>Partie 3 : L'usine de recyclage, pour aborder la fin de vie des appareils.</li>
                </ul>
            </p>

            <h3 style="margin-top: -50px">Technologies utilisées</h3>
            <p class="text_Pf">Pour ce projet, les éléments suivants ont été privilégiés pour une approche de développement sobre et optimisée:</p>
            <ul class="lst_cpt">
              <li>
                <strong>Unity</strong> : moteur de jeu utilisé pour
                développer le gameplay et l’environnement.
              </li>
              <li>
                <strong>C#</strong> : langage de programmation pour la logique
                du jeu et les interactions.
              </li>
              <li>
                <strong>Itch.io, ArtStation, IA, assets store d'Unity</strong> : Ces plateformes ont été utilisées pour trouver 
                des ressources graphiques et sonores adaptées au projet.
              </li>
              <li>
                <strong>Éco-conception</strong> : Dans la démarche d'éco-conception
                nous avons choisi des assets graphiques 2D pixel art en 16x16 pixels, qui sont moins gourmands en ressources
              </li>
            </ul>

            <img src="/images/SN2.png" alt="Page d'inscription de TaskMaster" class="img_inner img_fright card_h" style="margin-top:100px;">
                    

            <h3 style="margin-top: -50px">Compétences développées</h3>
            <p class="text_Pf">Techniques :</p>
            <ul class="lst_cpt">
              <li>Programmation orientée objet en C#.</li>
              <li>
                Implémentation de mécaniques de jeu basées sur la narration pour des objectifs pédagogiques.
              </li>
              <li>
                Optimisation des ressources (graphisme, audio) dans une perspective d'éco-conception.
              </li>
            </ul>

            <p class="text_Pf">Transversales :</p>
            <ul class="lst_cpt">
              <li>
                Gestion de projet et de la documentation.
              </li>
              <li>
                Sensibilisation aux enjeux environnementaux dans le cadre du développement numérique.
              </li>
            </ul>

            <h3 style="margin-top: -50px">Gameplay & Fonctionnalités</h3>
            <ul class="lst_cpt">
              <li>
                Un personnage principal qui parcourt les zones du jeu pour comprendre les impacts environnementaux des différentes étapes 
                du cycle de vie des appareils numériques.
              </li>
              <li>Des mini-jeux faciles et rapides mais développés pour faire comprendre de manière implicite les enjeux environnementaux.</li>
              <li>Des cinématiques entre les niveaux pour une meilleure compréhension.</li>
            </ul>

            <h3 style="margin-top: -50px">Conclusion</h3>
            <p class="text_Pf">
              Ce projet a été une excellente opportunité d'appliquer des principes d'éco-conception à un projet créatif comme le jeu vidéo. 
              L'approche axée sur la sobriété et l'optimisation a été un défi technique et artistique, mais elle a permis de créer un produit 
              final plus respectueux de l'environnement. La combinaison d'un récit engageant et d'une conception frugale a prouvé qu'il est 
              possible de sensibiliser un large public à des sujets importants tout en minimisant l'impact écologique du produit numérique 
              lui-même.
            </p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="carousel">
          <div class="carousel-inner">
            <div class="slide">
              <img
                src="/images/SN1.png"
                alt="Menu principal de Trois Rivières"
              />
            </div>
            <div class="slide">
              <img
                src="/images/SN2.png"
                alt="Mini jeu 1 de Trois Rivières   "
              />
            </div>
            <div class="slide">
              <img
                src="/images/SN3.png"
                alt="Zone de l'usine de Trois Rivières"
              />
            </div>
            <div class="slide">
              <img
                src="/images/SN4.png"
                alt="Mini jeu 3 de Trois Rivières"
              />
            </div>
            <div class="slide">
              <img
                src="/images/SN5.png"
                alt="Zone de la ville forme 3 de Trois Rivières"
              />
            </div>
            <div class="slide">
              <img
                src="/images/SN6.png"
                alt="Mini jeu 4 de Trois Rivières"
              />
            </div>
          </div>
          <div class="carousel-controls">
            <button id="prev"><</button>
            <button id="next">></button>
          </div>
          <div class="carousel-dots"></div>
        </div>
      </div>

      <script src="/views/components/carousel.js"></script>
    </section>

    <!--==============================
                  footer
    =================================-->
    <footer id="footer"></footer>

    <a href="#" id="toTop" class="fa fa-chevron-up"></a>
  </body>
</html>
